__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
logs/
*.log
config.yaml
config.local.yaml
config.yml
config.local.yml
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.shiftengine
pywechat/
pyweixin/*
pywechat2/
pywechat_inner/
pyweixin/